<div class="video-list-wrapper">
  <div class="video-item-wrapper" *ngFor="let video of videos">
    <div class="preview-window">
      <img class="thumbnail" src="{{video.snippet.thumbnails.medium.url}}"/>
      <div class="overlay">
        <h4 class="video-title">{{video.snippet.title}}</h4>
        <img class="play-btn" src="../../assets/Images/play_button.svg"
             [routerLink]="['/watch', video.contentDetails.videoId]"  />
      </div>
    </div>
    <div class="video-description">
      <p class="video-published">Published on {{video.snippet.publishedAt | date: 'MMM d, y' }} </p>

        <p class="video-info">{{video.snippet.description.substr(0, 180)}}
        <span *ngIf="video.snippet.description.length > 180">...</span></p>
    </div>
  </div>
</div>
